body {
    font-family: 'Josefin Sans', sans-serif;
}

.headline-button {
    display: inline-block;
}

.moon-img {
    max-width: 30px;
    margin-top: -18px;
}

.header-logo {
    text-transform: uppercase;
    display: inline;
}

.navbar {
    margin: 0;
    padding-top: 5px;
}

.navbar-left {
    margin-left: 30px;
}

.navbar-right {
    margin-right: 30px;
}


/*jumbotron stylings*/
.default {
    background-image: url('img/space-gif.gif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color: white;
    border-bottom: 3px solid black;
}

.login {
  background-size: cover;
  height: 500px;
  color: white;
  border-bottom: 3px solid black;
}
/* ---- */

.destinations {
    width: 100%;
}

ul {
    list-style-type:none;
}

.destinations li {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color: rgba(63, 174, 191, .5);
    color:white;
    padding-top: 15%;
    text-align: center;
    border: 4px solid black;
}

.active {
  color: blue;
  text-shadow: 0px 0px 40px;
}

.dest-rule {
  margin: 13px;
  visibility: hidden;
}

.destination-name {
  font-size: 25px;
  visibility: hidden;
}

.mission-btn {
  visibility: hidden;
  border: none;
  padding: 5px;
}

#moon {
  background: url('img/planets/moon2.jpg');
  background-size: cover;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 5%;
  display: block;
}

#sun {
  background: url('img/planets/sun.jpg');
  background-size: cover;
  margin-left:auto;
  margin-right:auto;
  display: block;
  margin-bottom: 5%;

}

#saturn {
  background: url('img/planets/saturn.jpg');
  background-size: 150%;
  background-repeat: no-repeat;
  background-color: black;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 5%;
  display: block;
}

#deep-space {
  background: url('img/planets/deep-space.jpeg');
  background-size: cover;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 5%;
  display: block;
}

#kepler {
  background: url('img/planets/kepler.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  margin-left:auto;
  margin-right:auto;
  display: block;
  margin-bottom: 5%;

}

#pluto {
  background: url('img/planets/pluto.jpg');
  background-size: cover;
  margin-left:auto;
  margin-right:auto;
  display: block;
  margin-bottom: 5%;

}

#nebula {
  background: url('img/planets/nebula.jpg');
  background-size: cover;
  margin-left:auto;
  margin-right:auto;
  display: block;
  margin-bottom: 5%;

}

#mars {
  background: url('img/planets/mars.jpg');
  background-size: cover;
  margin-left:auto;
  margin-right:auto;
  display: block;
  margin-bottom: 5%;

}
