body {
    font-family: 'Josefin Sans', sans-serif;
}

.headline-button {
    display: inline-block;
}

.moon-img {
    max-width: 30px;
    margin-top: -18px;
}

.header-logo {
    text-transform: uppercase;
    display: inline;
}
