<nav class="navbar navbar-default navbar-static-top">
    <div class="navbar-left">
      <h1 class="header-logo">m</h1>
      <img class="moon-img" src="../css/img/moon.png">
      <img class="moon-img" src="../css/img/moon.png">
      <h1 class="header-logo">nwalker</h1>
    </div>

    <div class="navbar-right">
      <!-- testing button to change login status to false -->
      <button ng-click="JumboFactory.login = false">false</button>

      <!-- testing button to change login status to true -->
      <button ng-click="JumboFactory.login = true" >true</button>

      <!-- testing button to show login status in console-->
      <button ng-click="JumboFactory.showLogin()">show</button>

      <!-- button that we actually want to change login status with -->
      <h4 login class = 'headline-button' ng-click="JumboFactory.login=true">Login</h4>
      <span>&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;</span>
      <h4 login class = 'headline-button'>Sign Up</h4>
      <span>&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;</span>
      <h4 class = 'headline-button'>Submit a Mission</h4>
    </div>
</nav>
