<div class="jumbotron">
    <div class="container">
        <h1>Astronauts!</h1>
        <h2>Missing the vacant, empty void of outer space?
            Accept a mission and get paid to explore nothingness!</h2>
    </div>
</div>

<div class="container destinations">
    <ul class = 'desination-list'>
        <div class='row'>

            <div class='col-md-3'>
                <li id = 'moon'>
                  <div class='destination-overlay'>
                    <span class="destination-name">Moon</span>
                    <hr>
                    <button type='submit' class='btn-xs'>Accept Mission</button>
                  </div>
                </li>
            </div>

            <div class='col-md-3'>
                <li id = 'sun'>
                  <div class='destination-overlay'>
                    <span class="destination-name">Sun</span>
                    <hr>
                    <button type='submit' class='btn-xs'>Accept Mission</button>
                  </div>
                </li>
            </div>

            <div class='col-md-3'>
                <li id ='deep-space'>
                  <div class='destination-overlay'>
                    <span class="destination-name">Deep Space</span>
                    <hr>
                    <button type='submit' class='btn-xs'>Accept Mission</button>
                  </div>
                </li>
            </div>

            <div class='col-md-3'>
                <li id ='mars'>
                  <div class='destination-overlay'>
                    <span class="destination-name">Mars</span>
                    <hr>
                    <button type='submit' class='btn-xs'>Accept Mission</button>
                  </div>
                </li>
            </div>
        </div>

        <div class='row'>
            <div class='col-md-3'>
                <li id = 'saturn'>
                  <div class='destination-overlay'>
                    <span class="destination-name">Saturn</span>
                    <hr>
                    <button type='submit' class='btn-xs'>Accept Mission</button>
                  </div>
                </li>
            </div>

            <div class='col-md-3'>
                <li id='pluto'>
                  <div class='destination-overlay'>
                    <span class="destination-name">Pluto</span>
                    <hr>
                    <button type='submit' class='btn-xs'>Accept Mission</button>
                  </div>
                </li>
            </div>

            <div class='col-md-3'>
                <li id='kepler'>
                  <div class='destination-overlay'>
                    <span class="destination-name">Kepler</span>
                    <hr>
                    <button type='submit' class='btn-xs'>Accept Mission</button>
                  </div>
                </li>
            </div>

            <div class='col-md-3'>
                <li id ='nebula'>
                  <div class='destination-overlay'>
                    <span class="destination-name">Nebula</span>
                    <hr>
                    <button type='submit' class='btn-xs'>Accept Mission</button>
                  </div>
                </li>
            </div>
        </div>
    </ul>
</div>
